@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    background-color: #f3f3f3;
}
h2{
    @apply text-xl md:text-4xl text-gray-700;
}

p {
    @apply text-xl tracking-tight leading-relaxed 
}



.shiny-effect {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1;
    background: radial-gradient(circle, rgba(178, 19, 202, 0.2), transparent);
}

.bg-primary-color{
    @apply bg-purple-600;
}

@keyframes slide-in {
    from {
        transform: translateX(100%); /* Bắt đầu từ bên phải */
        opacity: 0; /* Bắt đầu với độ mờ 0 */
    }
    to {
        transform: translateX(0); /* Kết thúc ở vị trí ban đầu */
        opacity: 1; /* Kết thúc với độ mờ 1 */
    }
}

.animate-slide-in {
    animation: slide-in 0.5s forwards; /* Thời gian animation là 0.5 giây */
}

.custom-antd-message {
    top: 20px !important;
    left: 20px !important;
    right: auto !important;
    font-size: 16px;
    padding: 15px 20px;
    animation: slide-in 0.5s forwards;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .loader {
    animation: spin 1s linear infinite;
  }

  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #5b21b6 !important; /* purple-800 */
    border-color: #5b21b6 !important; /* purple-800 */
  }
  
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #5b21b6 !important; /* purple-800 */
  }

  .button-purple{
    @apply bg-[#310150] text-white;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    opacity: 1;
    font-size: 16px;
    width: auto;
    font-weight: 600;
    width: 100%;
  }

  .button-purple:hover{
    @apply bg-purple-950;
  }
  